/* Write your CSS here */

.main {
  display: flex;
  align-items: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.img {
  width: 200px;
}

.register-button {
  background-color: blue;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}
